/* 

## Colors

- Green: hsl(75, 94%, 57%)

- White: hsl(0, 0%, 100%)

- Grey 700: hsl(0, 0%, 20%)
- Grey 800: hsl(0, 0%, 12%)
- Grey 900: hsl(0, 0%, 8%)

*/

@font-face {
  font-family: "bold";
  src: url(./assets/fonts/Inter-Bold.ttf);
}
@font-face {
  font-family: "regular";
  src: url(./assets/fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "semibold";
  src: url(./assets/fonts/Inter-SemiBold.ttf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-family: "regular";
  user-select: none;
}

h1,
h2,
p {
  margin: 0;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  border-radius: 15px;
  background: hsl(0, 0%, 12%);
  width: 300px;
  padding: 40px;
}

.pic {
  display: flex;
  justify-content: center;
}

img {
  border-radius: 500px;
  width: 100px;
}

.text {
  padding: 40px 0;
  text-align: center;
}

h1 {
  font-size: 1.8em;
}
h2 {
  color: hsl(75, 94%, 57%);
  font-size: 14px;
  margin: 10px 0 25px 0;
}

/* links */

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  border-radius: 5px;
  list-style: none;
  background: hsl(0, 0%, 20%);
  width: 100%;
  margin-bottom: 15px;
  transition: transform 0.4s ease;
}
li:last-of-type {
  margin-bottom: 0;
}

li:hover {
  transform: scale(1.1);
}

a {
  display: block;
  text-decoration: none;
  font-family: "semibold";
  width: 100%;
  padding: 15px 0;
}

a:link {
  color: hsl(0, 0%, 100%);
}

a:visited {
  color: hsl(75, 94%, 57%);
}

@media screen and (max-width: 440px) {
  article {
    padding: 25px;
  }
}
